[Desktop Entry]
Name=F8101ALEv4 
Exec=XXXXX/F8101ALEv4/F8101ALEv4
Comment=F8101ALEv4
Terminal=false
Icon=gnome-panel-launcher
Type=Application
Path=XXXXX/F8101ALEv4