[Desktop Entry]
Name=HFA Update
Exec=XXXXX/hfaconfig/HFAUpdate.sh
Comment=HFA Update
Terminal=true
X-KeepTerminal=true
Icon=gnome-panel-launcher
Type=Application
Path=XXXXX/hfaconfig
